@use "../../../../styles/theme/colors.scss";
@use "../../../../styles/theme/typography.scss";
@use "../../../../styles/theme/sizes.scss";

.timeFieldSet {
  .legend {
    @include typography.h4;
    color: colors.$dark;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  .inputWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .input {
      flex-basis: sizes.px(140);
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
