@use "../../../styles/theme/colors.scss";
@use "../../../styles/theme/typography.scss";
@use "../../../styles/theme/breakpoints.scss";

.wrapper {
  display: flex;
  justify-content: center;

  margin: 0 24px;

  .pillWrapper {
    margin-top: 45px;
    background-color: colors.$dark;
    border-radius: 31.5px;

    padding: 8px 7px;

    @include typography.text-1;
    text-transform: lowercase;

    display: flex;

    flex-direction: column;

    @include breakpoints.sm {
      flex-direction: row;
    }

    .pill {
      color: colors.$grey;
      opacity: 0.4;

      padding: 19px 25px 15px 26px;
      border-radius: 26.5px;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      &.active {
        color: colors.$blue;
        opacity: 1;
        background: colors.$primary;
      }
    }
  }
}
