$primary: var(--color-primary);
$grey: var(--color-grey);
$blue: var(--color-blue);
$white: var(--color-white);
$black: var(--color-black);
$light: var(--color-light);
$lightGrey: var(--color-lightGrey);
$dark: var(--color-dark);
$error: var(--color-error);

$themeRed: var(--color-themeRed);
$themeBlue: var(--color-themeBlue);
$themePurple: var(--color-themePurple);
